# Python
.venv/
__pycache__/
*.pyc

# Environment Variables
.env
.env.*

# Database
*.db
*.sqlite
*.sqlite3

# Node.js
node_modules/
dist/

# Logs
*.log

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db